{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}

    <title>{% block title %} {{curr_user}} {% endblock %}</title>
</head>
<body>
    <div class="sidenav">
        <div class="sidenav-topbar">
            <a href="/"><h2>Chats</h2></a>
            <a href="/search" class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>

        </div>
        <div class="friends">
            <ul class="list-group">
                {% for friend in friends %}
                    <a href="/chat/{{friend.username}}">
                        <li class="friend-info">

                                <div class="friend-img">
                                    <img src="{% static 'images/user_image.jpg' %}" style="width: 50px; height: 50px;">
                                </div>

                                    <div class="friend-name"><p>{{friend.name}}</p></div>


                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
        <a href="/logout" class="sidebar-bottom">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Logout</span>
            </a>
    </div>

    <div class="main">
        {% block content %}
        <div style="margin-top: 40vh; text-align: center">
            <h2>Select a chat & start messaging!</h2>
        </div>
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>

</body>
</html>