{% extends "chat/Base.html" %}
{% load static %}
{% block title %} {{curr_user}} | Search Friends{% endblock %}
{% block content %}
    <center>
        <div class="wrapper">
            <h2>Add Friends</h2>
            <div class="top-nav">

                    <form method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Search by name, username" name="search" autocomplete="off">
                        <button type="submit" class="btn btn-success">Search</button>
                    </form>

            </div>
            <ul>
                {% for user in users %}
                    <a href="/addfriend/{{user.username}}" id="user_card">
                        <li class="user">
                            <div class="user-img">

                                <img src="{% static 'images/user_image.jpg' %}" style="width: 50px; height: 50px;">
                            </div>
                            <div class="user-username">
                                {{user.username}}
                            </div>

                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </center>


{% endblock %}
