.container {
  background-color: #353535;
  border-radius: 12px;
  padding: 10 16px;
  margin: 10px 0;
  max-width: 60%;
  width: fit-content;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-top: 1px solid #535353;
  border-left: 1px solid #535353;

  box-shadow: 2px 3px 20px 0px #242424;
}

.sent-msg {
  margin-left: auto;
  background-color: #005c4b;
}

.friend-name-top {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
  padding: 10px 0;
  background-color: #2c2c2c;
  color: #fff;
}

.friend-name-top h3 {
  margin-left: 12px;
}

.messages {
  height: 78vh;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;

  padding: 0 10px;
  overflow-y: auto;

  background-color: #2c2c2c;
  scroll-behavior: smooth;

  position: relative;
}

.messages::-webkit-scrollbar {
  width: 3px;
  border: 2px solid red;
}

.messages::-webkit-scrollbar-track {
  background: #2c2c2c;
}

.messages::-webkit-scrollbar-thumb {
  background: rgba(218, 218, 218, 0.425);
  border-radius: 20px;
}

.messages .top-to-down {
  position: absolute;
}

.container .time {
  font-size: 0.6em;
  align-self: end;
  user-select: none;
}

.send-msg {
  display: flex;
  place-content: center;
  margin-top: auto;
  width: 100%;
  background-color: #2c2c2c;
}

#chat-box {
  border-radius: 8px;
  padding: 4px 8px;
  margin: 20px auto;
  width: 98%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

#chat-box input {
  border-radius: 30px;
  padding: 0 20px;
  height: 50px;
  color: #fff;
  background-color: #575860de;
}

#chat-box input::placeholder {
  color: #c0c0c0;
}

#msg_field {
  flex: 1;
  border: none;
  outline: none;
}

#msg_filed :has(:hover, :focus) {
  border: none;
  outline: none;
}

.send-msg #send_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  background-color: #a12754;
  color: #fff;
}
